---
---

@import "font-awesome.min.css";

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?32016072');
    src: url('../fonts/fontello.eot?32016072#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?32016072') format('woff2'),
    url('../fonts/fontello.woff?32016072') format('woff'),
    url('../fonts/fontello.ttf?32016072') format('truetype'),
    url('../fonts/fontello.svg?32016072#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.highlight  {
    background: #efefef;
    padding:15px;
    margin:0;
    font-size:14px;

    pre {
        margin:0;
    }
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

$small: 640px;
$blue: #3e5063;
$background: #f5f5f5;

.icon-article:before {
    content: '\e800';
}

/* 'î €' */

html, body {
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    background-color: $background;
    @media (max-width: 600px) {
        font-size: 80%;
    }
}

a {
    color: #219ec4;
    text-decoration: none;

    &:hover {
        color: lighten(#3282a9, 20%)
    }
}

.center {
    text-align: center;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Header bar
 */
header {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    h2 {
        margin: 20px 0;
        padding: 0;
        font-size: 1.6rem;
        color: #333;

        a {
            color: #3e5063;

            &:hover {
                color: darken(#202933, 10%)
            }
        }
    }
    .center {
        margin: 0;
        padding: 1rem;
        font-weight: normal;
        flex: 1 auto 20%;
        text-align: center;
    }
    .icon-article {
        border-radius: 55px;
        padding: 10px;
        border: 3px solid #d2d2d2;
        color: #565656;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    p {
        color: #777;
        font-size: 1.3rem;
    }
}

body {
    font-family: Cabin, sans-serif;

}

.editor-list {

    .editor-item {
        display: flex;
        border-bottom:1px solid #e9e9e9;
        margin:25px 0;

        @media (max-width:$small) {
            display: block;
        }

        p {
            margin:0;
        }
        .col {
            padding: 0 15px 10px 0;
            margin:10px 0 ;
            font-size:1.1rem;

            @media (max-width:$small) {
                padding:0;
            }

        }
        .name,
        .links {
            flex: 1;
        }
        .description {
            flex:4;
            margin:0 0 10px 0;

            blockquote {
                border-left:3px solid #efefef;
                margin-left:0;
                padding:5px 20px;
                font-style: italic;
                color: #999;
                font-size:0.9rem;
            }
            &:after {
                display: block;
                clear: both;
                content: '';
            }
        }
        .name {
            font-size:1.1rem;
            font-weight:700;
            margin:0;
            padding:0;

            .github-info {
                font-size:0.9rem;
                color: #999;
                font-weight:normal;
            }
            a {
                display: block;
                color: $blue;
            }
            img {
                text-align: center;
            }
        }

    }
}
.links {
    padding-right:0;
    margin-top:15px;
    width:100%;
    display: flex;


    @media (max-width:$small) {
        float: none;

        a {
            display: block;
            width:90%;
            margin:5px 0;
        }
    }

    a {

        .fa {
            color: lighten(#ff6d69, 30%);
        }

        flex:1 auto;
        background-color: lighten(#ff6d69, 10%);
        padding:6px 12px;
        margin:0 10px 0 0;
        color: #fff;
        display: inline-block;
        border-radius: 4px;
        font-size:1rem;
        text-align: center;
        &:hover {
            background-color: #ff6d69;
        }
    }
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;



    h1 {
        margin: 0;
        text-align: center;
    }
    .content {
        background-color: #fff;
        border-radius: 15px;
        padding: 20px 35px;
        border: 1px solid darken($background, 8%);
        color: #565656;

        @media (max-width:$small) {
            padding: 20px ;
            border-radius: 0;
        }


        .logo {
            height: 25px;
        }
        p {
            font-size: 1.1rem;
            line-height: 1.5rem;

        }
    }
    .about {
        color: #999;
        font-size: 1rem;
        margin-top:15px;
        border-top:1px solid #e9e9e9;
    }
    footer {
        padding: 20px 0;
        text-align: center;

        .fa-fire {
            color: orangered;
        }
    }
}
code.inline {

    padding: 3px 6px;
    background-color: #f7f7f7;
    color: #565656;
}

article {
    img {
        max-width: 100%;
    }
    section {
        border-bottom:1px solid #e9e9e9;

        &.image {
            margin:15px 0;
            text-align: center;
            img {
                -webkit-box-shadow: 0px 6px 15px -7px #565656;
                -moz-box-shadow: 0px 6px 15px -7px #565656;
                box-shadow: 0px 6px 15px -7px #565656;
                border-radius: 5px;
                width: 100%;
            }
            border:none;
        }
        h3 {
            font-size:1.45rem;
        }
    }
}
progress {
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-progress-bar {
        background-color: #efefef;
        border-radius: 2px;
        //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    &::-webkit-progress-value {
        background-color: #219ec4;
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }
    width:50%;
    height:20px;
}


.progress-container {
    display: flex;
    border-bottom:1px solid #e9e9e9;
    margin-bottom:15px;
    padding-bottom:15px;

    h2 {
        font-size:1.2rem;
        color: #565656;
    }
    em {
        margin-top:10px;
        display: block;
    }
     > div {
         flex:1 ;
     }
}


