{% include header.html %}

<div class="content" role="document">
    {{ content }}

    <div class="about">
        <p>
            <strong>About this page</strong> <br>
            I've created this page because I have an interest for text editors. The reason for this interest is mostly my daytime job,
            which I spend developing an editor for newspapers. The last couple of years it has happended a lot in this field,
            so I thought I create a list of the editors I know of and share that list with you.


        </p>
        <p>
            I guess this is the MVP version of this page, I already have a lot more planned, but for now, we will
            stick with this list. Perhaps in the next version I'll collect more data, write some guides on how to get started.
        </p>
        <p>
            The page is hosted at Github Pages
        </p>
    </div>

</div>

{% include footer.html %}
